.item-row {
  margin: 0 10px;
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 20px;
}

.select-container {
  margin: 0 0px;
  display: flex;
  flex: 1;
  justify-content: stretch;
  gap: 20px;
}

.select-container > div {
  margin: 0px;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}
.addButton {
  margin-bottom: 22px;
  align-self: flex-end;
  height: 34pt;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  border-radius: 10px;
  background-color: #d5e0e6;
  font-family: "Segoe UI", sans-serif;
  font-size: 16pt;
  margin-bottom: 17px;
  height: 40px;

  margin: 0px;
  background-color: #d5e0e6;
}

.closeButton {
  width: 10px;
  height: 50%;
  cursor: pointer;
  align-self: center;
}

.addFile-container {
  margin: 35px 0px;
  display: flex;
  flex: 1;
  justify-content: stretch;
}

.addFile-container > p {
  margin-left: 20px;
}

.fileInput {
  width: 300%;
}

.addFile {
  margin: 0px;
  display: flex;
  justify-content: baseline;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

#cert {
  margin-right: 20px;
  width: 200px;
}

.back-button {
  background-color: #807070;
  color: #e5e2e2;
  margin-top: 10px;
}

.back-button:hover {
  background-color: #8b7b7b;
  color: #ffffff;
}

.checked-signup-button {
  border: black 2.5px solid;
}
#orange-button.unchecked-signup-button{
	background-color:#F8B98F;
}
#purple-button.unchecked-signup-button{
	background-color:#C5B1D9;
}
.color-red{
	color: #d81259;
}