.row-container{
    display: flex; 
    align-items: center;
    gap: 20px; 
}
.buttonsRow {
    margin: 0 10px;
    display: flex;
    flex: 1;
    justify-content: center;
    gap:20px;
}

#teacherButton {
    background-color: #9139E5;
}

#studentButton {
    background-color: #E8701F;
    width: 2;
}

.button-container {
    display: flex;
  }
  

.select-container {
    margin: 0 0px;
    display: flex;
    flex: 1;
    justify-content: stretch;
    gap:20px;
}

.select-container>div {
    margin: 0px;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}
.addButton{
    margin-bottom: 15px;
}

.list{
    display: flex;
    flex-direction: column;
    gap:8px;
}

.listItem{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;

    border-radius: 10px; 
    background-color: #D5E0E6;
    font-family: 'Segoe UI',  sans-serif;
    font-size: 16px; 
    margin-bottom: 17px;
    height: 40px;
    
    margin: 0px;
    background-color: #D5E0E6;
}

.closeButton{
    width: 10px;
    height: 10px;
    cursor: pointer;
    align-self: center;
}

.addFile-container{
    margin: 35px 0px;
    display: flex;
    flex: 1;
    justify-content: stretch;
    
}

.addFile-container>p{
    margin-left: 20px;
    
}

.addFile {
    margin: 0px;
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

#cert {
    margin-right: 20px;
    width: 200px;
}