#header{
    background-color: #016BA6;
    height: 80px;
    width: 100%;

    padding-right: 200px;
    padding-left: 200px;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    z-index: 100;

}

#headerDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#headerBottom{
    width: 200px;
    background-color: #E1EAEF;
    color: #0096FF;
}
#headerBottom:hover {
    background-color: #d5e0e5;
    transition: 0.3s;
}

.teacher-homepage-wrapper {
    padding-top: 80px;  
}


.content-container {
    text-align: center; 
    padding: 20px;
}

.custom-button {
    background-color: orange; 
    padding: 10px 20px;
    color: white; 
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
    margin-top: 20px; 
}

.custom-button:hover {
    background-color: darkorange;
}


.contact-info {
    font-size: 14px;
    margin-top: 10px; 
}

.teacher-homepage-wrapper .bg-light h4, .teacher-homepage-wrapper .bg-light p {
    text-align: right;
}

/* Align to the right for the subjects */
.teacher-homepage-wrapper .bg-light .list-group-item {
    text-align: right;
}


